  <head>

    <meta charset="utf-8">
    <title>inst•o•gram</title>

    <!-- This is a stylesheet that includes the font you should use: Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,600" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet"> -->

    <link rel="stylesheet" href="/layout.css" media="screen">

    <!-- This script incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
<!--    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="/client.js" charset="utf-8" defer></script>

  </head>
