<article class="post">
  <div class="post-author-content">
    <p class="post-author"><i class="fas fa-user-circle"></i><a href="#">{{Author}}</a></p>
  </div>

  <div class="post-photo-caption">
    <div class="post-picture align-left">
      <img src="{{Picture}}">
    </div>

    <div class="post-caption align-right">
    
      {{Caption}}
      
    </div>
    <br class="clear">
  </div>
  <div class="post-content">
    <div class="likeHeart">
    <button class="like-button">
      <i class="far fa-heart"></i>
    </button>
    </div>
    <div class="likeCount">
    
      {{Likes}}
      
    </div>
    <div class="likeLabel">
      likes
    </div>
  </div>
</article>
