<article class="post">
  <div class="post-author-content">
    <p class="post-author"><i class="fas fa-user-circle"></i><a href="#">{{author}}</a></p>
  </div>

  <div class="post-photo-caption">
    <div class="post-picture">
      <img src="{{URL}}">
    </div>

    <div class="post-content">
      <p class="post-likes">
        <i class="far fa-heart"></i>100 likes
      </p>
      <p class="post-caption">
        {{caption}}
      </p>
    </div>
  </div>
</article>
